.header-top {
  font-size: 12px;
  font-weight: 500;
  padding: 20px 0 15px ;
  height: 55px;
  color: #212121;
}
.header-top ul {
  display: flex;
  float: right;

}
.header-top li {
  list-style: none;
  padding-left: 20px;
}

.header-top.logo{
  margin-left: auto;
  margin-right: auto;
  height: 55px;
  padding: 10px 0;
  width: 100%;
}

.menu{
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 0;
}

.menu a,
.menu a:hover{
  text-decoration: none;
  color: #212121;
}

.menu ul {
  display: flex;
  float: left;
  padding-inline-start: 0;
}

.menu li {
  list-style: none;
  padding-right: 20px;
  align-items: center;
  justify-items: center;

}

.search input,
.search input::-webkit-input-placeholder{
  border:none;
  font-weight: 500 ;
  color: #BDBDBD ;
}
.search input:focus{ 
  border-color: inherit; 
  -webkit-box-shadow: none; 
  box-shadow: none; 
}

.search{ 
  border-bottom: 1px solid #212121;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: -3px;
}

.menu .search {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.search .icon {
  margin-top:8px
}
